@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    color: #555;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-image: url("../images/placeholder.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.nav li {
    display: inline;
}

.nav a{
    display: inline-block;
    padding: 1em;
    text-decoration: none;
}

.main-nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.main-nav {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: x-large;
    border-bottom: 1px solid rgba(255, 255,255, 0.3);
}

.main-nav ul {
    margin: 0;
}

.main-nav a {
    color: white;
    width: 15%;
}

.project-name {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    font-family: Nunito;
    font-size: 1.5em;
    color: white;
}

.project-name-large {
    font-size: 4em;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 auto;
}







.main-footer {
    background-color: burlywood;
    padding: 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}
.footer-nav img {
    width: 30px;
    height: 30px;
}

.footer-nav li {
    padding: 0 1em;
}